* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cardsColor: #202020;
  --cardsLighterColor: #252525;
  --checkColor: rgb(32, 129, 226);
  --floorColor: #919191;
}
body {
  position: relative;
  perspective: 600px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: #000;
}
.container {
  background-image: linear-gradient(rgb(43, 11, 131), #000);
  height: 100vh;
  width: 100%;
}
header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 25px 50px;
  gap: 20px;
}
.header_content {
  width: 20%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 1em;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 20px;
  position: relative;
}
header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
}
header .diff {
  margin-left: 8px;
  font-size: 1.5em;
  font-weight: 900;
}
.small-line {
  display: inline-block;
  height: 35px;
  width: 1px;
  opacity: 0.3;
  background-color: #fff;
}
header .search {
  width: 60%;
  min-width: 290px;
  height: 2.6em;
  border-radius: 8px;
  background-color: #543a9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: none;
  overflow: hidden;
  transition: 0.5s;
}
header .search i {
  font-size: 1.25em;
  padding: 0 10px;
}
header .search input {
  padding: 0 20px;
  flex: 1;
  height: 100%;
  background-color: #543a9b;
  color: #fff;
  border: none;
  transition: 0.5s;
}
header .search input:focus {
  outline: 0;
}
header .search input::placeholder {
  color: #fff;
  font-size: 1.2em;
}
header .wallet {
  height: 2.6em;
  min-width: 250px;
  border-radius: 8px;
  background-color: #543a9b;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: none;
  transition: 0.5s;
  font-weight: 600;
  position: relative;
}
header .wallet:hover {
  background-color: #725cae;
  transition: 0.5s;
}
.icon-wallet {
  font-size: 1.3em;
}
.icon-user {
  font-size: 1.5em;
}
header .cart {
  height: 2.6em;
  min-width: 55px;
  border-radius: 8px;
  background-color: #543a9b;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.icon-cart {
  font-size: 1.2em;
}
/* !text ellipsis */
header .search:hover input,
header .search:hover,
header .cart:hover {
  background-color: #725cae;
  transition: 0.5s;
}
.menu {
  width: 220px;
  height: fit-content;
  position: absolute;
  background-color: #fff;
  line-height: 60px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.dropsMenu {
  margin-top: 30px;
  padding: 0px 30px;
}
.statsMenu {
  padding: 0px 30px;
  margin-top: 30px;
  margin-left: 70px;
}
.dropsMenu a,
.statsMenu a {
  color: #000;
}
.w-menu-parent {
  position: absolute;
  left: 0;
  padding-top: 60px;
  z-index: 1;
}
.w-menu {
  width: 250px;
  height: fit-content;
  position: absolute;
  background-color: #fff;
  line-height: 60px;
  border-radius: 10px;
  padding: 0 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.w-menu a {
  color: #000;
  padding-left: 12px;
}
.dropsMenu li,
.statsMenu li,
.w-menu li {
  list-style: none;
}
.drops:hover + .dropsMenu,
.stats:hover + .statsMenu,
.wallet:hover .w-menu {
  opacity: 1;
  visibility: visible;
}
/* //////////////////////////////////////////////////////////////////// */
.main-sec {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.main-sec .list {
  display: flex;
  gap: 30px;
  /* overflow-x: auto; */
}
.main-sec li {
  list-style: none;
  height: 45px;
  padding: 0 20px;
  line-height: 45px;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 10px;
  transition: 0.5s;
}
.main-sec .list .diff {
  background-color: #826eb5;
}
.main-sec li:hover {
  background-color: #826eb5;
  transition: 0.5s;
  cursor: pointer;
}
.main-sec .content {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  /* flex-wrap: wrap; */
}
.main-sec .text {
  height: 450px;
  min-height: 350px;
  width: 900px;
  min-width: 300px;
  padding: 90px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: url(../images/content-background.avif);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 1px 1px 10px #000;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 300;
}
.main-sec .text h2 {
  font-size: 1.8em;
}
.main-sec .btn {
  width: 150px;
  height: 50px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.309);
  color: #fff;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.main-sec .btn:hover {
  background-color: #fff;
  color: #fff;
  border-radius: 10px;
  border: none;
  color: #000;
  transition: 0.5s;
  cursor: pointer;
}
.loading {
  height: 415px;
  width: 380px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 30px;
  box-shadow: 1px 1px 10px #000;
  animation-name: img-change;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transition: 0.3s;
}
@keyframes img-change {
  0% {
    background-image: url(../images/nft-1.gif);
  }
  19% {
    background-image: url(../images/nft-1.gif);
  }
  20% {
    background-image: url(../images/nft-2.gif);
  }
  39% {
    background-image: url(../images/nft-2.gif);
  }
  40% {
    background-image: url(../images/nft-3.png);
  }
  59% {
    background-image: url(../images/nft-3.png);
  }
  60% {
    background-image: url(../images/nft-4.gif);
  }
  79% {
    background-image: url(../images/nft-4.gif);
  }
  80% {
    background-image: url(../images/nft-5.png);
  }
  100% {
    background-image: url(../images/nft-5.png);
  }
}
.play-bar-background {
  width: 350px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.297);
  margin-top: 25px;
  margin-left: 20px;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
}
.play-bar {
  width: 10px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  border-radius: 6px;
  margin-top: 25px;
  margin-left: 20px;
  animation-name: change;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes change {
  0% {
    width: 5px;
  }
  100% {
    width: 350px;
  }
}
/* /////////////////////////////////////////////////////////////////////// */
.sec-2 .title {
  width: 100%;
  min-width: 300px;
  color: #fff;
}
.sec-2 .title h2 {
  padding: 150px 0 0 50px;
  font-size: 2.7em;
  letter-spacing: 3px;
}
.sec-2 .cards-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sec-2 .cards {
  width: 280px;
  height: 310px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}
.sec-2 .cards:hover {
  margin-bottom: 30px;
  transition: 0.3s;
}
.sec-2 .img {
  width: 100%;
  height: 65%;
  background-position: center;
  background-size: cover;
}
.sec-2 .text {
  width: 100%;
  height: 35%;
  background-color: var(--cardsColor);
  color: #fff;
  padding: 15px;
}
.sec-2 .cards:hover .text {
  background-color: var(--cardsLighterColor);
}
.sec-2 .img-1 {
  background-image: url(../images/a1.png);
}
.sec-2 .img-2 {
  background-image: url(../images/a2.png);
}
.sec-2 .img-3 {
  background-image: url(../images/a3.webp);
}
.sec-2 .img-4 {
  background-image: url(../images/a4.png);
}
.sec-2 .img-5 {
  background-image: url(../images/a5.png);
}
.sec-2 .img-6 {
  background-image: url(../images/a6.gif);
}
.sec-2 .text h3 {
  display: inline-block;
}
.sec-2 .text i {
  color: var(--checkColor);
}
.floor {
  display: inline-block;
  width: 8em;
}
.floor p {
  font-size: 0.8em;
  color: var(--floorColor);
}
.total_volume {
  display: inline-block;
}
.total_volume p {
  font-size: 0.8em;
  color: var(--floorColor);
}
/* ////////////////////////////////////////////////////////////////// */
.sec-3 .title {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 2.2em;
  letter-spacing: 3px;
}
.sec-3_cards {
  height: 90vh;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.sec-3 .cards {
  height: 600px;
  width: 25%;
  min-width: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  color: #fff;
  transition: 0.5s;
}
.sec-3 .card-1:hover,
.sec-3 .card-2:hover {
  transform: scale(1.1);
}
.sec-3 .card-1 {
  background-image: url(../images/b1.avif);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sec-3 .card-2 {
  background-image: url(../images/b2.gif);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sec-3 .card-3 {
  margin-left: 100px;
  position: relative;
}
.sec-3 .img-container {
  height: 500px;
}
.sec-3 .img-container img {
  position: absolute;
  left: 8%;
  animation-name: sec-3_card-3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes sec-3_card-3 {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 180px;
  }
  100% {
    margin-top: 0;
  }
}
.sec-3 .btn {
  width: 160px;
  height: 60px;
  margin-bottom: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
}
.sec-3 .btn:hover {
  background-color: #000;
  cursor: pointer;
}
.sec-3 .text {
  line-height: 30px;
}
/* /////////////////////////////////////////////////////////////////// */
.sec-4_cards {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.sec-4 .title {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 2.2em;
  letter-spacing: 3px;
}
.sec-4 .cards {
  height: 280px;
  width: 380px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.sec-4 .img {
  height: 80%;
}
.sec-4 .img img {
  height: 224px;
  width: 380px;
  transition: 0.2s;
}
.sec-4 .text {
  height: 20%;
  width: 100%;
  background-color: var(--cardsColor);
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.sec_img {
  transform: translateY(55px);
}
.sec-4 .card-1:hover .img-1-1 {
  transform: translateY(-224px);
}
.sec-4 .card-1:hover .img-1-2 {
  transform: translateY(-224px);
}
.sec-4 .card-2:hover .img-2-1 {
  transform: translateY(-224px);
}
.sec-4 .card-2:hover .img-2-2 {
  transform: translateY(-224px);
}
.sec-4 .card-3:hover .img-3-1 {
  transform: translateY(-224px);
}
.sec-4 .card-3:hover .img-3-2 {
  transform: translateY(-224px);
}
.sec-4 .card-4:hover .img-4-1 {
  transform: translateY(-224px);
}
.sec-4 .card-4:hover .img-4-2 {
  transform: translateY(-224px);
}
/* /////////////////////////////////////////////////////////////////////////////// */
.sec-5 .title {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-block: 50px;
  font-size: 2.2em;
  letter-spacing: 3px;
}
.sec-5_cards {
  height: 120vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-row-gap: 4em;
  grid-column-gap: 10em;

  place-content: center;
}
.sec-5 .cards {
  width: 360px;
  height: 480px;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--cardsColor);
}
.flip {
  position: absolute;
  width: 360px;
  height: 400px;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.bg:hover .flip {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 360px;
  height: 400px;
  background: rgba(255, 255, 255, 0);
  backface-visibility: hidden;
  z-index: 1;
}
.bg-1 {
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-1.avif);
  background-position: center;
  background-size: cover;
  position: relative;
}
.back-1 {
  position: absolute;
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-2.avif);
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  opacity: 0;
  transition: 0.5s;
}
.bg:hover .back-1 {
  opacity: 1;
}
.bg-2 {
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-3.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.back-2 {
  position: absolute;
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-4.png);
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  opacity: 0;
  transition: 0.5s;
}
.bg:hover .back-2 {
  opacity: 1;
}
.bg-3 {
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-5.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.back-3 {
  position: absolute;
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-6.png);
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  opacity: 0;
  transition: 0.5s;
}
.bg:hover .back-3 {
  opacity: 1;
}
.bg-4 {
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-7.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.back-4 {
  position: absolute;
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-8.png);
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  opacity: 0;
  transition: 0.5s;
}
.bg:hover .back-4 {
  opacity: 1;
}
.bg-5 {
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-9.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.back-5 {
  position: absolute;
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-10.png);
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  opacity: 0;
  transition: 0.5s;
}
.bg:hover .back-5 {
  opacity: 1;
}
.bg-6 {
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-11.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.back-6 {
  position: absolute;
  width: 360px;
  height: 400px;
  background-image: url(../images/flip-12.png);
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  opacity: 0;
  transition: 0.5s;
}
.bg:hover .back-6 {
  opacity: 1;
}
.text {
  padding: 10px 20px;
  color: #fff;
  line-height: 1.3em;
}
.lastSale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--floorColor);
  font-size: 1em;
}
.sec-5 .icon {
  padding-right: 0.2em;
  font-size: 0.7em;
}
.sec-5 .price {
  font-weight: bold;
  font-size: 0.9em;
}
